body {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	font-style: normal;        
}

.navigation {
	height: 90px;
	display: flex;
	justify-content: space-between;
    padding: 23px 68px 24px 68px;
    background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.nav-list {
	list-style: none;
	margin-top: -3px;
}

.navigation .logo {
	height: 50px;
}
.nav-list .nav-item {
	display: inline;
	margin-right: 30px;
}

.nav-item-search-box {
	width: 450px;
	height: 50px;
	background: #FAFAFA;
	border: 1px solid #BDBDBD;
	border-radius: 6px;
	background: url(images/search-icon.png) no-repeat scroll 400px 17px;
	padding-left: 35px;
}

.nav-item .nav-button {
	width: 170px;
	height: 40px;
	background-color: #6699CC;
	border-radius: 5px;
	color: #FFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.nav-item a { text-decoration: none; color: #333; }
.nav-item .notification-icon {
	width: 22.96px;
	height: 27.86px;
	position: relative;
	margin-bottom: -10px;
}
.nav-item .notifications {
	background-color: #FA1212;
	width: 15px;
	height: 15px;
	position: absolute;
	margin-top: 12px;
	margin-left: -15px;
	border-radius: 100px;
	font-size: 9px;
	color: #FFF;
	padding-left: 5px;
}

.nav-user {
	width: 34px;
	height: 34px;
}

.nav-item .nav-user-arrow {
	margin-left: -10px;
	margin-top: 20px;
}
.row {
	margin-top: 82px;
}
.container {
	padding-left: 184px;
	padding-right: 184px;
}

.card {
	width: 510px;
	height: 345px;
	text-align: center;
}
.card .card-header {
	color: #6699CC;
	text-align: left;
}

.card .card-title {
	margin-top: 13px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;

	/* identical to box height */

	color: #3D3D3D;
}
.card .btn {
	width: 150px;
	height: 40px;
	background: #6699CC;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	margin-top: 19px;
}

.card img {
	height: 94px;
	width: 80px;
}

col {
	margin-top: 
}

footer {
	margin-top: 142px;
}